<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= heading %>
    </h1>

    <form method="POST" action="/board/<%= user.url %>/membership">

        <label for="secret">Enter the secret message: </label>
        <span><input type="text" name="secret" id="secret"></span>
        <br>
        <button type="submit">Submit</button>
    </form>
    <a href="/board/">Go Back</a>
</body>

</html>