<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= heading %>
    </h1>
    <form method="POST" action="/board/user/signup">

        <label for="first_name">First Name </label>
        <span><input type="text" name="first_name" id="first_name"></span>

        <label for="last_name">Last Name </label>
        <span><input type="text" name="last_name" id="last_name"></span>

        <label for="username">Username </label>
        <span><input type="text" name="username" id="username"></span>

        <label for="password">Password </label>
        <span><input type="password" name="password" id="password"></span>

        <label for="confirm-password">Confirm Password </label>
        <span><input type="password" name="confirm-password" id="confirm-password"></span>
        
        <label for="admin_status">Admin Status</label>
        <input type="checkbox" name="admin_status" id="admin_status" value="Admin"
            style="width: 25px; height: 25px;">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/board/">Go Back</a>
</body>

</html>